.header{

    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    padding: 2%;
    padding-left: 1%;
    justify-content: space-around;
    box-shadow: 1px 10px 100px 100px black;
   
}

.header-logo{

    width: 15vw;
    height: 9vh;
    align-self: center;
    
}

.header-rotas{

   height: 7vh;
   width: 50vw;
   align-self: center;
   display: flex;
   flex-flow: row nowrap;
   margin-left: 1vw;
   align-items: center;
   justify-content: space-around;
   padding-left: 1vw;
   padding-right: 1vw;

}

.header-rotas > a{
    text-decoration: none;
    font-size: 20px;
    color: white;

}

.header-rotas > a:hover{

    border-bottom: 1px solid black;

}